<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>color</key>
			<string>ice_cream.svg</string>
			<key>elements</key>
			<array>
				<dict>
					<key>name</key>
					<string>ice_cream1.svg</string>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>18</integer>
						<key>y</key>
						<integer>5</integer>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>ice_cream2.svg</string>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>18</integer>
						<key>y</key>
						<integer>167</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>2_ice_cream</string>
			<key>gray</key>
			<string>ice_cream_gray.svg</string>
			<key>gray_lined</key>
			<string>ice_cream_gray_lines.svg</string>
			<key>name</key>
			<string>Ice Cream</string>
			<key>size</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</array>
</plist>
