<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>finished</key>
			<false/>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>ice_cream</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>18</integer>
						<key>y</key>
						<integer>5</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>18</integer>
						<key>y</key>
						<integer>167</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>2_ice_cream</string>
			<key>gray</key>
			<string>ice_cream_gray</string>
			<key>gray_lined</key>
			<string>ice_cream_gray_lines</string>
			<key>name</key>
			<string>Ice Cream</string>
			<key>size</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>finished</key>
			<false/>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>pencil</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>7</integer>
						<key>y</key>
						<integer>114</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>63</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>2_pencil</string>
			<key>gray</key>
			<string>pencil_gray</string>
			<key>gray_lined</key>
			<string>pencil_gray_lines</string>
			<key>name</key>
			<string>Pencil</string>
		</dict>
		<dict>
			<key>finished</key>
			<false/>
			<key>bgColor</key>
			<string></string>
			<key>color</key>
			<string>toad</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>2</integer>
						<key>y</key>
						<integer>176</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>152</integer>
						<key>y</key>
						<integer>17</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>2_toad</string>
			<key>name</key>
			<string>Toad</string>
		</dict>
	</array>
</array>
</plist>
