<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>ice_cream</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>18</integer>
						<key>y</key>
						<integer>5</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>18</integer>
						<key>y</key>
						<integer>167</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/ice_cream</string>
			<key>name</key>
			<string>Ice Cream</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>pencil</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>7</integer>
						<key>y</key>
						<integer>114</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>63</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/pencil</string>
			<key>name</key>
			<string>Pencil</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>toad</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>2</integer>
						<key>y</key>
						<integer>176</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>152</integer>
						<key>y</key>
						<integer>17</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/toad</string>
			<key>name</key>
			<string>Frogling</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>dove</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>22</integer>
						<key>y</key>
						<integer>132</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>94</integer>
						<key>y</key>
						<integer>78</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>116</integer>
						<key>y</key>
						<integer>9</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/dove</string>
			<key>name</key>
			<string>Pigeon</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>pig</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>2</integer>
						<key>y</key>
						<integer>49</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>71</integer>
						<key>y</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>231</integer>
						<key>y</key>
						<integer>19</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/pig</string>
			<key>name</key>
			<string>Piggy</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>rabbit</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>4</integer>
						<key>y</key>
						<integer>167</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>46</integer>
						<key>y</key>
						<integer>94</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>197</integer>
						<key>y</key>
						<integer>4</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/rabbit</string>
			<key>name</key>
			<string>Rabbit</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>octopus</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>2</integer>
						<key>y</key>
						<integer>133</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>89</integer>
						<key>y</key>
						<integer>18</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>199</integer>
						<key>y</key>
						<integer>138</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/octopus</string>
			<key>name</key>
			<string>Octopus</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>chicken</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>6</integer>
						<key>y</key>
						<integer>46</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>142</integer>
						<key>y</key>
						<integer>122</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>227</integer>
						<key>y</key>
						<integer>15</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/chicken</string>
			<key>name</key>
			<string>Hen</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>bear</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>14</integer>
						<key>y</key>
						<integer>9</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>17</integer>
						<key>y</key>
						<integer>115</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>15</integer>
						<key>y</key>
						<integer>232</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/bear</string>
			<key>name</key>
			<string>Teddy-bear</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>penguin</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>72</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>137</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>25</integer>
						<key>y</key>
						<integer>240</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/penguin</string>
			<key>name</key>
			<string>Penguin</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>snake</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>80</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>146</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>151</integer>
						<key>y</key>
						<integer>148</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/snake</string>
			<key>name</key>
			<string>Snake</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>giraffe</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>28</integer>
						<key>y</key>
						<integer>279</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>106</integer>
						<key>y</key>
						<integer>227</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>110</integer>
						<key>y</key>
						<integer>21</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/giraffe</string>
			<key>name</key>
			<string>Giraffe</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>zebra</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>34</integer>
						<key>y</key>
						<integer>172</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>12</integer>
						<key>y</key>
						<integer>76</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>141</integer>
						<key>y</key>
						<integer>11</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/zebra</string>
			<key>name</key>
			<string>Zebra</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>goat</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>9</integer>
						<key>y</key>
						<integer>87</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>103</integer>
						<key>y</key>
						<integer>15</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>250</integer>
						<key>y</key>
						<integer>39</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>145</integer>
						<key>y</key>
						<integer>165</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/goat</string>
			<key>name</key>
			<string>Goat</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>flamingo</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>152</integer>
						<key>y</key>
						<integer>11</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>16</integer>
						<key>y</key>
						<integer>142</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>136</integer>
						<key>y</key>
						<integer>126</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>128</integer>
						<key>y</key>
						<integer>222</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/flamingo</string>
			<key>name</key>
			<string>Flamingo</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>bread</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>84</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>90</integer>
						<key>y</key>
						<integer>92</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>11</integer>
						<key>y</key>
						<integer>151</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>100</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>70</integer>
						<key>y</key>
						<integer>101</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/bread</string>
			<key>name</key>
			<string>Bread</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>lime</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>86</integer>
						<key>y</key>
						<integer>113</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>58</integer>
						<key>y</key>
						<integer>156</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>161</integer>
						<key>y</key>
						<integer>190</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>130</integer>
						<key>y</key>
						<integer>230</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/lime</string>
			<key>name</key>
			<string>Lime</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>lemon</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>92</integer>
						<key>y</key>
						<integer>131</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>173</integer>
						<key>y</key>
						<integer>140</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>85</integer>
						<key>y</key>
						<integer>198</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>105</integer>
						<key>y</key>
						<integer>262</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/lemon</string>
			<key>name</key>
			<string>Lemon</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>kettle</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>132</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>73</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>85</integer>
						<key>y</key>
						<integer>67</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>142</integer>
						<key>y</key>
						<integer>93</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>268</integer>
						<key>y</key>
						<integer>70</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>124</integer>
						<key>y</key>
						<integer>218</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/kettle</string>
			<key>name</key>
			<string>Kettle</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>baseball_cap</string>
			<key>folder</key>
			<string>Game 1/baseball_cap</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>92</integer>
						<key>y</key>
						<integer>17</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>132</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>209</integer>
						<key>y</key>
						<integer>16</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>77</integer>
						<key>y</key>
						<integer>68</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>130</integer>
						<key>y</key>
						<integer>88</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>242</integer>
						<key>y</key>
						<integer>88</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>136</integer>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>Baseball Cap</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>crab</string>
			<key>folder</key>
			<string>Game 1/crab</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>106</integer>
						<key>y</key>
						<integer>66</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>75</integer>
						<key>y</key>
						<integer>109</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>180</integer>
						<key>y</key>
						<integer>105</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>185</integer>
						<key>y</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>81</integer>
						<key>y</key>
						<integer>195</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>180</integer>
						<key>y</key>
						<integer>195</integer>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>Crab</string>
		</dict>
		<dict>
			<key>bgColor</key>
			<string>d2e9f9</string>
			<key>color</key>
			<string>car</string>
			<key>elements</key>
			<array>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>77</integer>
						<key>y</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>100</integer>
						<key>y</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>206</integer>
						<key>y</key>
						<integer>18</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>272</integer>
						<key>y</key>
						<integer>24</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>11</integer>
						<key>y</key>
						<integer>72</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>121</integer>
						<key>y</key>
						<integer>72</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>201</integer>
						<key>y</key>
						<integer>70</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>201</integer>
						<key>y</key>
						<integer>72</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>349</integer>
						<key>y</key>
						<integer>90</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>8</integer>
						<key>y</key>
						<integer>125</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>43</integer>
						<key>y</key>
						<integer>135</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>263</integer>
						<key>y</key>
						<integer>125</integer>
					</dict>
				</dict>
				<dict>
					<key>point</key>
					<dict>
						<key>x</key>
						<integer>273</integer>
						<key>y</key>
						<integer>135</integer>
					</dict>
				</dict>
			</array>
			<key>folder</key>
			<string>Game 1/car</string>
			<key>name</key>
			<string>Car</string>
		</dict>
	</array>
	<array>
		<string></string>
	</array>
</array>
</plist>
